<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iusto dolorem vitae unde vero consequatur nam iure voluptates perspiciatis recusandae molestiae dicta reiciendis, explicabo illo laborum nostrum voluptatibus totam mollitia.</p>
</body>
</html>