{{!-- //here .hbs this we are using bcz this is handlebars extension 
// views is mandatory name we can change it we will see tht later

//To run this file - in terminal be in main folder i.e expressjs and type nodemon day4_middleware_/src/index.js  - this is how we run --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}  = (partials) in express to add or access any file we write like this 

    <p>Lorem sum dolor sit amet consectetur, adipisicing elit. Tempora distinctio repudiandae harum unde ab voluptates, molestias error similique fugit eius quaerat suscipit eos, quam beatae omnis cupiditate sunt. Voluptate, at?</p>
    <h1> Here view is created also hbs extension installed</h1>
</body>
</html>